body {
text-align:center;
}
.a {
margin-left:0;
width:100%;
color:red;
}
.b {
margin-right:0;
width:100%;
color:blue;
}
.p{
background-color:black;
color:white;
padding:30px;
}
.q{
font-size:30px;
margin-top:20%;
}
.n{
padding-left:1%;
padding-right:1%;
padding-top:2%;
padding-bottom:1%;
}
